/* nav related style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-top: 10px;
    margin-right: 25px;
    gap: 5px;
    align-items: center;
    font-size: 30px;
    color: #272727;
}

nav a{
    text-decoration: none;
}

.shop-name{
    color: #E55473;
    font-family: Lato;
    font-size: 50px;
     margin-top: 25px;
     margin-left: 50px;
}

/* header related style */
.header{
    background-color: rgba(229, 84, 115, 0.10);
}
.banner{
    padding: 70px 30px 0px 200px;
    display: flex;
    align-items: center;
}
.banner-picture{
width: 600px;
height: 750px

}
.banner-heading{
color: #272727;
font-family: Lato;
font-size: 80px;
padding: 170px 0px 30px 200px;
}
.banner-paragraph{
 color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
padding: 0px 170px 30px 200px;
}
.banner-btn{
border-radius: 8px;
background: #E55473;
border: 0;
color: #FFF;
font-family: Lato;
font-size: 20px;
font-weight: 700px;
padding: 20px 40px;
margin: 0px 670px 10px 200px;
}

/* main related styles */

.flower-heading{
color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-weight: 800;
padding: 170px 760px 24px 760px;

}
.flower-para{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
padding: 0 660px 48px 660px;
}
.featured-flower-pic{
gap: 10px;
justify-content: space-around;
background: #FFF;
display: flex;
align-items: center;


}
.first-flower{
width: 310px;
height: 428px;
padding: 100px 75px 0 75px;
width: 464px;
height: 538px;
border-radius: 300px 300px 0px 0px;
background-color: rgba(167, 33, 98, 0.15);

}

.second-flower{
width: 310px;
height: 428px;
padding: 100px 75px 0 75px;
border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
width: 464px;
height: 538px;
}
.third-flower{
width: 310px;
height: 428px;
padding: 100px 75px 0 75px;
width: 464px;
height: 538px;
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}

.tree{

    text-align: center;
    text-decoration-line: underline;
    padding: 20px 380px 128px 381px;
    display: flex;
    gap: 550px;

}

.pink{
    color: #272727;
font-family: Lato;
font-size: 24px;
font-weight: 700;
line-height: 35px;

}

.hot-deal-content{
border-radius: 8px;
background: rgba(229, 84, 115, 0.10);
padding: 128px 0 128px 0 ;
display: flex;
align-items: center;
}

.hot-deal-header{
color: #272727;
font-family: Lato;
font-size: 40px;
font-weight: 800;
padding: 230px 215px 30px 420px;
}
.hot-deal-para{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
display: flex;
padding: 0 185px 50px 395px;
}

.hot-deal-btn{

    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    margin: 0px 420px 165px 603px;
    }

    .hot-deal-pic{
        width: 340px;
    }

    .social-header{

color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-weight: 800;
padding: 130px 870px 20px 870px;
    }
    .social-para{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
display: flex;
padding: 0 665px 50px 665px;
    }

.flower-pics{

        gap: 20px;
        justify-content:space-around;
        background: #FFF;
        display: flex;
        align-items: center;
    
    }


.nice-pics{
    width: 350px;
        height: 400px;
}
.price{
    padding: 128px 0 ;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.10);
}
.price-header{
color: #E55473;
padding: 30px 400px 20px 400px;
font-family: Lato;
font-size: 40px;
font-weight: 800;
}
.table{
    text-align: center;
    padding: 50px 400px 30px 400px;

}
.tcap{
    text-align: center;
    font-size: 25px;
    padding: 10px 400px 10px 400px;
}
.thd{
    text-align: center;
font-size: larger;

}

.tbd{
    text-align: left;
    font-size: 20px;
}
.special-heading{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-weight: 700px;
padding: 30px 150px 20px 300px;
    
}
.special-para1{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
padding: 5px 140px 20px 350px ;

}
.special-ancr{
color: #E55473;
text-align: center;
font-family: Lato;
font-size: 20px;
padding: 10px 450px 15px 500px ;

}

.latest{
    background: rgba(229, 84, 115, 0.10);
}
.latest-heading{
color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-weight: 800;
padding: 30px 150px 20px 300px;

}
  
.latest-para{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
padding: 5px 140px 20px 350px;
    
}
.frm{ 
    display:inline;
    margin-bottom: 25px;
    margin-left: 800px;
    padding:18px 35px;
    color: #757575;
    align-items: center;
border-radius: 8px;
}
.sbmt{
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;

    }
    .eml{
        border-radius: 8px;
    background: white;
    border: 0;

    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;

    }

    


    



